html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 25% 75%;
  gap: 3rem;
  max-width: 95%;
  margin: 2rem auto;
}

.notes-heading-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 2rem; */
}

.notes-heading-content button{
  height: 2rem;
  cursor: pointer;
}

.notes {
  cursor: pointer;
}

.search {
  width: 90%;
  border-radius: 18px;
  padding-left: 12px;
  height: 1.8rem;
  margin-bottom: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: 1px solid black;
}